{% extends 'base-templates/base.html' %}
{% block title %}Password reset{% endblock %}
{% block generic_content %}
<div class="container">
 <div class="row">
  <div class="col-xs-8 col-sm-4 col-md-4">
   <div class="form-wrapper">
   {% if validlink %}
	<form action="" method="post">
	  {% csrf_token %}
	  {% for field in form %}
	  <div class="form-group">
	   <label class="control-label">{{field.label_tag}}</label>
	   {% for error in field.errors %}
	   	<small class="text-danger form-error">{{error}}</small>
	   {% endfor %}	   
	  {{field}}
	  </div>
	  {% endfor %}
	  <button class="btn btn-primary" type='submit'>Change my password</button>
	</form>
   {% else %}
     <p>password reset failed</p>
   {% endif %}
    </div>
   </div>
  </div>
 </div>
{% endblock %}
{% block domready %}
 $('input').addClass('form-control')
{% endblock %}