<p>Hello,</p>
<p>We got a request to reset your <em><b>Coobuce account</b></em> password. If that was you, please follow the link below. Bear in mind, this will also change the password for your Coobuce</p>
<p>
<a href="{{protocol}}://{{domain}}{%url 'password_reset_confirm' uidb64=uid token=token %}" style="text-decoration: none;">{{protocol}}://{{domain}}{%url 'password_reset_confirm' uidb64=uid token=token %}</a>
</p>
<p>
If you don't want to change your password, you can safely ignore this message. Someone probably typed your email address by mistake.
</p>
<p>
    Cheers,<br>
    Elo Aniboh.
    <a href="www.coobuce.com" style="text-decoration: none;">Coobuce</a> | Customer Service Rep.<br>
    <a href="mailto:eloaniboh@coobuce.com?Subject=Account%20Activation" target="_top" style="text-decoration: none;">eloaniboh@coobuce.com</a>
</p>