<div class="row">
            <div class="col-lg-12">
             {% if messages %}
              {% for message in messages %}
               <div class="alert alert-{{message.tags}}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                </button>
                <span style="font-weight: bold; font-size: 1.3rem;">{{message}}</span>
               </div>
              {% endfor %}
             {% endif %}
            </div>
</div>